<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
      <mat-form-field>
        <mat-label>Classify</mat-label>
        <mat-select>
          <mat-option *ngFor="let c of classifyCategory" [value]="c.value" [(ngModel)] = "classifyResult" name ="classifyResult">
            {{c.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Save</button>
      <span><button mat-raised-button color="primary" routerLink = "/docform">New Classification</button></span>
    </mat-card-actions>
  </mat-card>

