<p *ngIf="!(posts$ | async)"> loading posts...</p>
<mat-accordion>
    <!-- <a *ngIf = "(posts$ | async)" class = "btn btn-primary" (click) = "addPPostsToFirestore()">add posts to firestore</a> -->
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let post of posts$ | async"
        >
        <mat-expansion-panel-header>
            <mat-panel-title>
                    <q>id: {{post.id}}</q>
                    <div></div>
                <b>{{post.title}}</b> 
            </mat-panel-title>
            <mat-panel-description >
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> <q>{{post.body}}</q></p>
        <br>
        <div>
        <button mat-raised-button color="primary" routerLink="/comments/{{post.id}}">show comments</button>
        <button mat-raised-button class="btn btn-primary " (click) = "save(post)" >Save</button>
        <button mat-raised-button color="primary" (click) = "addLikes(post.id,post.likes)">LIKE {{post.likes}}</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>